$bright-blue: #0f70e9;
$light-blue: #6979c1;
$deep-blue: #041f3f;
$dark-blue: #07336a;
$yellow: #dbd22f;
$teal: #70a5c6;
$white: white;
$cream: #f2e5d4;
$wine: #6a0733;
$green: #336a07;
$black: #010a15;
$gray: #5c7793;
$warning: red;

@mixin btnPrimary {
  padding: 0.2rem 1rem;
  border: 0;
  border-radius: 10px;
  background: rgba($dark-blue, 0.7);
  color: $white;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-decoration: none;
  box-shadow: inset 1px 5px 5px rgba($dark-blue, 0.3);

  &:hover {
    box-shadow: -2px -2px 2px rgba($light-blue, 0.5);
  }
}

@mixin center {
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

@mixin component {
  @include center;
  margin: 0.3rem 1rem;
  background: $white;
  border-radius: 8px;
  padding: 2rem;
}

@mixin h1-primary {
  font-family: Inter-Bold;
  font-size: 32px;
}

@mixin h2-primary {
  font-family: Inter-Bold;
  font-size: 24px;
  @include xs {
    font-size: 18px;
  }
}

@mixin xs {
  @media (max-width: 639px) {
    h1 {
      font-size: 1em;
    }
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 0.8em;
      max-width: 90%;
      margin: auto;
    }
    a {
      font-size: 0.8em;
    }
    ul {
      font-size: 0.8em;
      max-width: 90%;
    }
    @content;
  }
}

@mixin sm {
  @media (min-width: 640px) and (max-width: 767px) {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 1em;
      max-width: 90%;
      margin: auto;
    }
    a {
      font-size: 1em;
    }
    ul {
      font-size: 1em;
      max-width: 90%;
      padding-left: 0;
      margin: auto;
    }
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) and (max-width: 1279px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
